---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MPN49RVKCJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MPN49RVKCJ');
    </script>
    <title>{{ site.title }} | {{ site.position }}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    {% if site.keywords %}
    <meta name="keywords" content="{{ site.keywords }}">
    {% endif %}
    {% if site.canonical %}
    <link rel="canonical" href="{{ site.canonical }}">
    {% endif %}

    {% if site.favicon %}
    <link rel="icon" href="{{ site.favicon | relative_url }}" type="image/png">
    {% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/font.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.avatar %}
        <a class="image avatar"><img src="{{ site.avatar | relative_url }}" alt="{{ site.title }}"></a>
        {% endif %}

        <h1>{{ site.title }}</h1>

        {% if site.position %}
        <p class="position">{{ site.position }}</p>
        {% endif %}

        {% if site.cv_link or site.email %}
        <p class="contact-links">
          {% if site.cv_link %}<a href="{{ site.cv_link | relative_url }}">CV</a>{% endif %}
          {% if site.cv_link and site.email %} | {% endif %}
          {% if site.email %}<a href="mailto:{{ site.email }}">Email</a>{% endif %}
        </p>
        {% endif %}
      </header>
      <section>
        <p>Hello! I am a 2nd year PhD student in Social Science at Caltech. I was previously at UTokyo. I work on political economy.</p>

        <h3>Working Paper</h3>
        <p><a href="{{ "/assets/files/GHM2604_lbcb.pdf" | relative_url }}">"Learning Before Crisis Bargaining"</a> (with <a href="https://michaelgibilisco.com/index.html">Michael Gibilisco</a> and <a href="https://www.its.caltech.edu/~avhirsch/">Alexander Hirsch</a>)</p>
        <ul>
          <li>Presentations: MPSA 2026 &amp; APSA 2026</li>
        </ul>

        <h3>Work in Progress</h3>
        <p>"Unveiling Preference Heterogeneity from Conjoint Survey Experiments"</p>
        <ul>
          <li>Presentation: <a href="https://sites.google.com/view/jsqps">JSQPS</a> 2026 Summer</li>
        </ul>
      </section>
    </div>
  </body>
</html>
